
@import '../node_modules/normalize.css/normalize';
@import '../node_modules/codemirror/lib/codemirror';

body {
  color: #333;
}

.header {
  @at-root {
    & {
      height: 60px;
      text-align: center;
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .5);
    }

    .header__title {
      margin: 0;
      font: 700 30px/60px Open Sans Condensed, sans-serif;
    }
  }
}

.main {
  @at-root {
    & {
      position: absolute;
      top: 60px;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;

      > * {
        width: 50%;
      }
    }
  }
}

.output {
  @at-root {
    & {
      overflow: auto;
    }

    .output__code {
      white-space: pre-wrap;
      font: 14px/1.4 Consolas, monospace;
    }
  }
}
